<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Concert Tracker</title>

    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <!-- jquery -->
    <!-- Note: using subresource integrity; see: https://en.wikipedia.org/wiki/Subresource_Integrity -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="../scripts/band.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Concert Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/bands">Artists</a></li>
            <li><a href="/concerts">Concerts</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <!-- <li><a href="/users/{{ user._id }}">{{ user.username }}</a></li> -->
              <li><a href="/login">Login</a></li>
              <li><a href="/logout">Logut</a></li>
              <!-- <li><a class="hidden" href="/signup">Signup</a></li> -->
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <section>
    <!-- bands! -->
      <div id='single-band'>
        <!-- handlebars template -->
        <script id="band-single-template" type="text/x-handlebars-template">

          <h1 id="bands-header"><span class='band-name'>{{band.name}}</span></h1>

            <!-- one band -->
            <div class="row band" data-band-id="{{band._id}}">

              <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">


                  <!-- begin band internal row -->
                    <div class="row">

                      <!-- band image column -->
                      <div class="col-md-3 col-xs-12 thumbnail band-art">
                        <span class='band-image'><img class="img-responsive band-image" src="{{band.image_url}}"/></span>
                      </div>

                      <!-- band information column -->
                      <div class="col-md-9 col-xs-12">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <h4 class='inline-header'>Record Label:</h4>
                            <span class='band-recordLabel'>{{band.recordLabel}}</span>
                          </li>
                          <li class="list-group-item">
                            <h4 class='inline-header'>Description:</h4>
                            <span class='band-description'>{{band.description}}</span>
                          </li>
                          <li class="list-group-item">
                            <h4 class='inline-header'>Genres:</h4>
                            <span class='band-genres'>{{band.genres}}</span>
                          </li>
                          <li class="list-group-item edit-band-image hidden">
                            <h4 class='inline-header'>Image URL</h4>
                            <span class='band-image-url'>{{band.image_url}}</span>
                          </li>
                          <li class="list-group-item">
                            <h4 class='inline-header'>Concerts:</h4>
                            <span class='band-concerts'>
                              {{#each band.concerts}}
                              <ul>
                                <h5><a href="/concerts/{{_id}}"><li class='band-concerts'>{{eventName}}</li></a><h5>
                              </ul>
                              {{/each}}
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class='panel-footer'>
                    <button class="delete-band-button btn btn-md btn-danger pull-right" data-band-id="{{ band._id }}">Delete</button>
                    <button class="update-band-button btn btn-md btn-primary pull-right" data-band-id="{{ band._id }}">Update</button>
                    <button class="save-band-button btn btn-success pull-right hidden" data-band-id="{{ band._id }}">Save Changes</button>
                    <button type="button" class="add-concerts-button btn btn-success pull-right" data-band-id="{{ band._id }}">Add Concerts</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of band internal row -->
        </script>
      </div>

      <!-- end one band -->
    </section>

  </body>

</html>
