<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Concert Tracker</title>

    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- jquery -->
    <!-- Note: using subresource integrity; see: https://en.wikipedia.org/wiki/Subresource_Integrity -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="scripts/concerts.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Concert Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/bands">Artists</a></li>
            <li class="active"><a href="#">Concerts<span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <li><a href="/myprofile">My Profile</a></li>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <h1>Concerts Index</h1>

    <section>
      <!-- concerts! -->
      <div id='concerts'>

        <!-- handlebars template -->
        <script id="concert-list-template" type="text/x-handlebars-template">

          {{#each concerts}}
          <!-- one concert -->
            <div class="row concert" data-concert-id="{{_id}}">

              <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">


                  <!-- begin concert internal row -->
                    <div class='row concert-row'>

                      <div class="col-md-3 col-xs-12 thumbnail concert-art">
                        <span class='concert-image'><img class="img-responsive concert-image" src="{{image_url}}"/></span>
                      </div>

                      <div class="col-md-9 col-xs-12">
                        <ul class="list-group" id="add-concerts">
                          <li class="list-group-item">
                            <h3><span class='concert-eventName'>{{eventName}}</span></h3>
                            <span class='concertId'>{{_id}}</span>
                          </li>
                          <li class="list-group-item">
                            <h4 class='inline-header'>Artist</h4>
                            <span class='concert-bandId'>{{band}}</span>
                          </li>
                          <li class="list-group-item">
                            <h4 class='inline-header'>Date</h4>
                            <span class='concert-date'>{{date}}</span>
                          </li>
                          <li class="list-group-item">
                            <h4 class='inline-header'>Location:</h4>
                            <span class='concert-location'>{{location}}</span>
                          </li>
                          <li class="list-group-item">
                            <h4 class='inline-header'>setlist</h4>
                            <pre><span class='concert-setlist'>{{setlist}}</span></pre>
                          </li>
                          <li class="list-group-item">
                            <h4 class='inline-header'>Description:</h4>
                            <span class='concert-description'>{{description}}</span>
                          </li>
                          <li class="list-group-item edit-concert-image hidden">
                            <h4 class='inline-header'>Image URL</h4>
                            <span class='concert-image-url'>{{image_url}}</span>
                          </li>
                          <li class="list-group-item edit-concert-recording hidden">
                            <h4 class='inline-header'>Recording URL:</h4>
                            <span class='concert-recording-url'>{{recording_url}}</span>
                          </li>
                        </ul>
                        <!-- embed archive recording -->
                        <div class="music-player">
                          <iframe src="{{recording_url}}&playlist=1" width="500" height="300" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <button class="delete-concert-button btn btn-md btn-danger pull-right" data-concert-id="{{ concert._id }}">Delete</button>
                    <button class="update-concert-button btn btn-md btn-primary pull-right" data-concert-id="{{ concert._id }}">Update</button>
                    <button class="save-concert-button btn btn-success pull-right hidden" data-concert-id="{{ concert._id }}">Save Changes</button>
                    <!-- end of concert internal row -->
                  </div>
                </div>
              </div>
            </div>
        {{/each}}
      </script>
      <!-- end one concert -->
    </section>

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="add-concert-form-container">
            <script id="add-concert-form-template" type="text/x-handlebars-template">
              <form id='add-concert-form' class="form-horizontal">
                <fieldset>
                <!-- Form Name -->
                <legend>Add New Concert</legend>
                <!-- Name input-->
                <div class="form-group">
                  <label class="col-md-2 col-md-offset-1 control-label" for="eventName">Event Name</label>
                  <div class="col-md-8">
                  <input id="concert-eventName" name="eventName" type="text" placeholder="" class="form-control input-md" required="">
                  </div>
                </div>
                <!-- Band Select-->
                <div class="form-group">
                  <label class="col-md-2 col-md-offset-1 control-label" for="bandId">Band</label>
                  <div class="col-md-8">
                    <select name="bandId">
                      <option value="" selected disabled="">select band</option>
                      {{#each bands}}
                        <option value="{{this._id}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <!-- Date input-->
                <div class="form-group">
                  <label class="col-md-2 col-md-offset-1 control-label" for="date">Date</label>
                  <div class="col-md-8">
                    <input id="concert-date" name="concertDate" type="date" placeholder="" class="form-control input-md">
                  </div>
                </div>
                <!-- Location input-->
                <div class="form-group">
                  <label class="col-md-2 col-md-offset-1 control-label" for="location">Location</label>
                  <div class="col-md-8">
                  <input id="concert-location" name="location" type="text" placeholder="" class="form-control input-md">
                  </div>
                </div>
                <!-- Setlist input-->
                <div class="form-group">
                  <label class="col-md-2 col-md-offset-1 control-label" for="setlist">Setlist</label>
                  <div class="col-md-8">
                  <textarea id="concert-setlist" name="setlist" type="text" placeholder="Enter Setlist here" class="form-control input-md"></textarea>
                  </div>
                </div>
                <!-- Description input -->
                <div class="form-group">
                  <label class="col-md-2 col-md-offset-1 control-label" for="description">Description</label>
                  <div class="col-md-8">
                  <textarea id="concert-description" name="description" type="text" placeholder="Enter Description here" class="form-control input-md"></textarea>
                  </div>
                </div>
                <!-- Image URL input-->
                <div class="form-group">
                  <label class="col-md-2 col-md-offset-1 control-label" for="image_url">Image URL</label>
                  <div class="col-md-8">
                  <input id="concert-image-url" name="image_url" type="text" placeholder="Enter Image URL here" class="form-control input-md">
                  </div>
                </div>
                <!-- Recording URL input-->
                <div class="form-group">
                  <label class="col-md-2 col-md-offset-1 control-label" for="recording_url">Recording URL</label>
                  <div class="col-md-8">
                    <input id="concert-recording-url" name="recording_url" type="text" placeholder="Enter Archive.org URL here" class="form-control input-md">
                  </div>
                </div>
                <!-- Add Concert Submit Button -->
                <div class="form-group">
                  <div class="col-md-4">
                    <a id="add-concert-button"
                      onclick="handleAddConcertClick(this.form)"
                      name="submit"
                      class="btn btn-lg btn-primary add-concert-button">
                      Submit
                    </a>
                  </div>
                </div>
                </fieldset>
              </form>
            </script>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
