<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Concert Tracker</title>

    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- jquery -->
    <!-- Note: using subresource integrity; see: https://en.wikipedia.org/wiki/Subresource_Integrity -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="scripts/concerts.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Concert Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/bands">Bands</a></li>
            <li class="active"><a href="/concerts">Concerts<span class="sr-only">(current)</span></a></li>
            <li><a href="/members">Members</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Username<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">My Bands</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">My Concerts</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <h1>Concerts Index</h1>

    <section>
      <!-- concerts! -->
      <div id='concerts' data-concert-id="{{concert._id}}">

        <!-- handlebars template -->
        <script id="concert-template" type="text/x-handlebars-template">

          <!-- one concert -->
          <div class="row concert">

            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">


                <!-- begin concert internal row -->
                  <div class='row concert-row'>
                    <div class="col-xs-12">
                      <h3 class='concert-name'>{{concert.eventName}}</h3>
                    </div>
                    <div class="col-md-3 col-xs-12 thumbnail concert-art">
                      <span class='concert-image'><img class="img-responsive concert-image" src="{{concert.image_url}}"/></span>
                    </div>

                    <div class="col-md-9 col-xs-12">
                      <ul class="list-group" id="add-concerts">
                        <li class="list-group-item">
                          <h4 class='inline-header'>Band</h4>
                          <span class='concert-band' band-data-id="{{concert.band}}"></span>
                        </li>
                        <li class="list-group-item">
                          <h4 class='inline-header'>Date</h4>
                          <span class='concertDate'>{{concert.date}}</span>
                        </li>
                        <li class="list-group-item">
                          <h4 class='inline-header'>Location:</h4>
                          <span class='concert-releaseDate'>{{concert.location}}</span>
                        </li>
                        <li class="list-group-item">
                          <h4 class='inline-header'>Description:</h4>
                          <span class='concert-releaseDate'>{{concert.description}}</span>
                        </li>
                        <li class="list-group-item">
                          <h4 class='inline-header'>ID</h4>
                          <span class='concert-event-url'>{{concert._id}}</span>
                        </li>
                      </ul>
                      <div class="music-player">

                      </div>
                  </div>

                  <button type="button" class="delete-concert-button btn btn-md btn-danger pull-right" data-concert-id="{{concert._id}}">Delete</button>
                  <!-- end of concert internal row -->

                </div>
              </div>
            </div>
          </div>
        </script>
      </div>

      <!-- end one concert -->
    </section>

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <form id='concert-form' class="form-horizontal">
            <fieldset>

            <!-- Form Name -->
            <legend>Add New Concert</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-2 col-md-offset-1 control-label" for="eventName">Event Name</label>
              <div class="col-md-8">
              <input id="concert-eventName" name="eventName" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 col-md-offset-1 control-label" for="band">Band</label>
              <div class="col-md-8">
                <textarea id="concert-band" name="band" type="text" placeholder="Enter Band IDs, separated by commas" class="form-control input-md"></textarea>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-2 col-md-offset-1 control-label" for="location">Location</label>
              <div class="col-md-8">
              <input id="concert-location" name="location" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-2 col-md-offset-1 control-label" for="date">Date</label>
              <div class="col-md-8">
                <input id="concert-date" name="concertDate" type="date" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-2 col-md-offset-1 control-label" for="image_url">Image URL</label>
              <div class="col-md-8">
              <input id="concert-image-url" name="image_url" type="text" placeholder="Enter Image URL here" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-2 col-md-offset-1 control-label" for="recording_url">Recording URL</label>
              <div class="col-md-8">
                <input id="concert-recording-url" name="recording_url" type="text" placeholder="Enter Archive.org URL here" class="form-control input-md">
              </div>
            </div>

            <!-- Textarea-->
            <div class="form-group">
              <label class="col-md-2 col-md-offset-1 control-label" for="description">Description</label>
              <div class="col-md-8">
              <textarea id="concert-description" name="description" type="text" placeholder="Enter Description here" class="form-control input-md"></textarea>
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <div class="col-md-4">
                <button id="singlebutton" name="submit" class="btn btn-lg btn-primary add-concert-submit">Submit</button>
              </div>
            </div>
            </fieldset>
          </form>
        </div>
      </div>
    </section>

  </body>
</html>
